<div class="container mx-auto px-20 bg-cover bg-fixed bg-center v-screen backgroundy">
    <!-- <app-leaves></app-leaves> -->
    <app-navbar></app-navbar>
    <app-quote-box [quote]="selectedQuote"></app-quote-box>


    <p class="py-4">
        There are so many things in life to be grateful for. Why not write something down and share it with the world?
        If you want to remain anonymous, please keep the name field blank
    </p>

    <div class="shadow-md rounded-m overflow-hidden p mb-5 columns-2">
        <form [formGroup]="myForm">
            <div>
                <label>
                    Name:
                    <input type="text" formControlName="name" [(ngModel)]="userName"
                        class="border border-gray-300 focus:border-blue-500 rounded-md py-2 px-4 block w-full placeholder-gray-500"
                        placeholder="Enter your name">
                </label>
            </div>
            <div>
                <label>
                    Text:
                    <input type="text" formControlName="text" [(ngModel)]="userGrat"
                        class="border border-gray-300 focus:border-blue-500 rounded-md py-2 px-4 block w-full placeholder-gray-500"
                        placeholder="Enter your name">
                </label>
            </div>
        </form>

    </div>

    <div class="flex justify-center">
        <button (click)="setGrat()"
            class="bg-sec text-white font-bold py-2 px-4 rounded-full transform transition duration-200 ease-in-out hover:scale-105">
            Submit what you are grateful for
        </button>
    </div>


    <h4>See what other people are grateful for</h4>

    <section *ngIf="allGrats.length" class="columns-2 gap-8">
        <div *ngFor="let grat of allGrats">
            <div class="hover:bg-blue-600 bg-blue-300 shadow-md rounded-lg overflow-hidden mb-3 opacity-70 transform transition duration-200 ease-in-out
                hover:scale-105">
                <div class="p-4 mx-auto">
                    <h3 class="font-bold text-xl mb-2">Gratitude by {{grat.name}}</h3>
                    <p class="text-gray-700 text-base">{{grat.text}}</p>
                </div>
            </div>

        </div>
    </section>

    <div class="p-20">

    </div>
</div>