<div>
    <div class="relative">
        <div class="absolute left-0 right-0 top-0 bottom-0">
            <div class="grid grid-cols-10 gap-2">
                <div class="leaf animate-fall-1"></div>
                <div class="leaf animate-fall-2"></div>
                <div class="leaf animate-fall-3"></div>
                <div class="leaf animate-fall-4"></div>
                <div class="leaf animate-fall-5"></div>
                <div class="leaf animate-fall-6"></div>
                <div class="leaf animate-fall-7"></div>
                <div class="leaf animate-fall-8"></div>
                <div class="leaf animate-fall-9"></div>
                <div class="leaf animate-fall-10"></div>
            </div>
        </div>
    </div>
</div>