/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

html,
body {
    height: 100%;
    background-color: $primary-color;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: 'Bahiana';
    src: url('../src/assets/fonts/Bahiana/Bahiana-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AmitaReg;
    src: url('./assets/fonts/Amita/Amita-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AmitaBold;
    src: url('./assets/fonts/Amita/Amita-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

.amitar {
    font-family: AmitaReg;
}

.amitab {
    font-family: AmitaBold;
}

.bahiana {
    font-family: 'Bahiana';
}

.bg-prime {
    background-color: $primary-color;
}

.bg-sec {
    background-color: $secondary-color;
}

:disabled.bg-sec {
    background-color: $accent2
}

:hover.bg-sec {
    background-color: $accent2
}

.bg-acc1 {
    background-color: $accent1;
}